= render 'shared/registration-header'

.main
  .auth-phoneNum-box
    .auth-phoneNum-box__title
      %h1 電話番号認証
    .auth-phoneNum-box__contents
      = form_with model: User.new, class: "auth-phoneNum-box__contents__form", url: address_signup_index_path  do |f|
        .form-group.first-form
          .form-group__label
            %label{class: 'form-group__label__text'} 携帯電話の番号
          = f.telephone_field :tel_number, class: "form-group__input", placeholder: "携帯電話の番号を入力"
        %p{class: 'form-note'} 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

        %button{type: 'submit', class: 'btn auth-phoneNum-box__contents__form__submit'}
          SMSを送信する
        %p{class: 'form-note'} ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

        .form-group.text-right
          .auth-phoneNum-box__contents__form__info-link
            = link_to '#' do
              電話番号の確認が必要な理由
              %i{class: 'icon-arrow-right fa fa-chevron-right'}

= render 'shared/sub-footer'