= render 'shared/registration-header'

.main
  .registration-box
    .registration-box__title
      %h1 会員情報入力
    .registration-box__contents
      = form_with model: User.new, class: "registration-box__contents__form", url: authentication_signup_index_path  do |f|
        .form-group.first-form
          .form-group__label
            %label{class: 'form-group__label__text'} ニックネーム
            %span{class: 'form-group__label__require'} 必須
          = f.text_field :nickname, class: "form-group__input", placeholder: "例）エフ太郎", maxlength: "30"
          - if flash[:nickname] == "ニックネームを入力してください"
            .form-group__error
              = flash[:nickname]

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} メールアドレス
            %span{class: 'form-group__label__require'} 必須
          = f.text_field :email, class: "form-group__input", placeholder: "PC・携帯どちらでも可"
          - if flash[:email] == "メールアドレスを入力してください"
            .form-group__error
              = flash[:email]
          - elsif flash[:email] == "このメールアドレスはすでに使用されています"
            .form-group__error
              = flash[:email]

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} パスワード
            %span{class: 'form-group__label__require'}  必須
          = f.password_field :password, class: "form-group__input", placeholder: "７文字以上", id: "password"
          - if flash[:password] == {a: "パスワードを入力してください", b: "パスワードは7文字以上128文字以下で入力してください", c: "英字と数字両方を含むパスワードを設定してください"}
            .form-group__error
              = flash[:password][:a]
            .form-group__error-wide
              = flash[:password][:b]
            .form-group__error
              = flash[:password][:c]
          
          .form-group__revelation-pass
            %input{type: "checkbox", name: "check", class: 'form-group__revelation-pass__checkbox'}
            %label{class: 'form-group__revelation-pass__label'} パスワードを表示する
        .form-group
          %h3{class: 'form-group__subtitle'} 本人確認
          %p{class: 'form-group__text form-note'} 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} お名前(全角)
            %span{class: 'form-group__label__require'} 必須
          = f.text_field :lastname, class: "form-group__input--half-first", placeholder: "例）山田", maxlength: "30"
          = f.text_field :firstname, class: "form-group__input--half", placeholder: "例）彩", maxlength: "30"
          - if flash[:lastname] == "性を入力してください"
            .form-group__error
              = flash[:lastname]
          - if flash[:firstname] == "名を入力してください"
            .form-group__error
              = flash[:firstname]

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} お名前カナ(全角) 
            %span{class: 'form-group__label__require'} 必須
          = f.text_field :lastname_kana, class: "form-group__input--half-first", placeholder: "例）ヤマダ", maxlength: "30"
          = f.text_field :firstname_kana, class: "form-group__input--half", placeholder: "例）アヤ", maxlength: "30"
          - if flash[:lastname_kana] == "性カナを入力してください"
            .form-group__error
              = flash[:lastname_kana]
          - if flash[:firstname_kana] == "名カナを入力してください"
            .form-group__error
              = flash[:firstname_kana]

        .form-group.full-width
          .form-group__label
            %label{class: 'form-group__label__text'} 生年月日
            %span{class: 'form-group__label__require'}  必須
          .form-group__select
            .flex-wrap
              .form-group__select__item
                != sprintf(f.date_select(:birthday, prefix:'user',with_css_classes:'###', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'&nbsp;年&nbsp;','&nbsp;月&nbsp;')+'&nbsp;日'
            - if flash[:birthday] == "生年月日を正しく入力してください"
              .form-group__error
                = flash[:birthday]

        %p{class: 'form-attention'} ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

        .form-group.captcha-wrap
        = recaptcha_tags callback: "clearcall", sitekey: ENV['RECAPTCHA_SITE_KEY']
        - if flash[:base] == "選択してください"
          .form-group__error
            = flash[:base]
        
        .form-group
          %p{class: 'registration-box__contents__form__info'}
            「次へ進む」のボタンを押すことにより、
            = link_to "利用規約", "#",{class: 'terms'}
            に同意したものとみなします
        = f.submit "次へ進む", class: 'btn registration-box__contents__form__submit'
        
        .form-group.text-right
          .registration-box__contents__form__info-link
            = link_to '#' do
              本人情報の登録について
              %i{class: 'icon-arrow-right fa fa-chevron-right'}

= render 'shared/sub-footer'