-# ログアウトページ

= render partial: 'shared/header'

-# パンくずリスト
- breadcrumb :users_logout
= render partial: 'shared/breadcrumbs'

%section.logout-section
  = render partial: 'shared/sidebar'
  .logout-content
    .logout-container
      %form.box-inner{action: "#", method: "POST", novalidate: "novalidate"}
        .box-content
          = link_to destroy_user_session_path, method: :delete do
            %button.btn-logout{type: "submit"} ログアウト

= render partial: 'shared/footer'