-# ログアウトページ

= render 'shared/header'
= render 'shared/post'

-# パンくずリスト
- breadcrumb :users_logout
= render 'shared/breadcrumbs'

%section.logout-section
  = render 'shared/sidebar'
  .logout-content
    .logout-container
      %form.box-inner{action: "#", method: "POST", novalidate: "novalidate"}
        .box-content
          = link_to destroy_user_session_path, method: :delete do
            %button.btn-logout{type: "submit"} ログアウト

= render 'shared/footer'