= render 'shared/header'

-# パンくずリスト
- breadcrumb :users_show
= render 'shared/breadcrumbs'
= render 'shared/post'

%section.my-maine
  = render 'shared/sidebar'
  .my-page
    .my-page__user
      = image_tag "users/user-bg.jpg", class:"bg-img"
      .my-page__user__icon
        %a.move__my-page
          %figure
            = image_tag "my-page.jpg", class:"user-img"
          %h2.bold 
            = current_user.nickname
          .my-page__user__icon__number
            .my-page__user__icon__number__status-lelt
              評価
              %span.my-page__user__icon__number__status-lelt__number
                0
            .my-page__user__icon__number__status-right
              出品数
              %span.my-page__user__icon__number__status-right__number
                = @user.items.length
    .my-page__notice
      %ul.my-page__notice__tabs
        %li.active
          %h3
            %a.notice{href:""}
              お知らせ
        %li
          %h3
            %a.notice-active{href:""}
              やることリスト
      .my-page__notice__tabs__content
        .my-page__notice__tabs__content__display
          %ul.mypage-item-list.tab-pane.active{id: ""}
            %li.mypage-item-not-found.bold 現在、お知らせはありません
        = image_tag "logo/logo_gray.svg", class:"logo-gray"
    .my-page__goods
      %h2.my-page__goods__purchase 購入した商品
      %ul.my-page__goods__tabs
        %li.active
          %h3
            %a.notice{href: ""}
              取引中
        %li
          %h3
            %a.notice-active{href: ""}
              過去の取引
      .my-page__goods__content
        .my-page__goods__content__tab
          %ul.mypage-item-list.tab-pane.active{id: ""}
            %li.mypage-item-not-found.bold 取引中の商品がありません
        = image_tag "logo/logo_gray.svg", class:"logo-gray"
= render 'shared/footer'