-# %header{class: 'sign-header'}
-#   = link_to '#' do
-#     %img{ src: '/svg/fmarket_logo_red.svg', class: 'opacity sign-header__logo'}
.divider 新規会員登録ページ

= render 'shared/sub-header'
.main
  .signup-box
    .signup-box__title
      %h1 新規会員登録
    .main__signup-form
      = link_to '#',{class: 'btn  main__signup-form__mail'} do
        メールアドレスで登録する
        
      %a{href: '#', class: 'btn btn-facebook  main__signup-form__facebook'}
        Facebookで登録する
      %a{href: '#', class: 'btn btn-google main__signup-form__google'}
        Googleで登録する

= render 'shared/sub-footer'

-# %footer{class: 'sub-footer'}
-#   %ul{class: 'sub-footer__links'}
-#     %li
-#       %a{href: '#', class: 'opacity'}
-#         プライバシーポリシー
-#     %li
-#       %a{href: '#', class: 'opacity'}
-#         エフマーケット利用規約
-#     %li
-#       %a{href: '#', class: 'opacity'}
-#         特定商取引に関する表記
-#   .sign-footer__bottom
-#     %img{ src: '/svg/logo_gray.svg', class: 'sub-footer__logo'}
-#     %p{class: 'copy-right'} © 2019 Fmarket

.divider ログインページ

= render 'shared/sub-header'
-# %header{class: 'sign-header'}
-#   = link_to '#' do
-#     %img{ src: '/svg/fmarket_logo_red.svg', class: 'sign-header__logo'}
.main
  .login-box
    .login-box__new-account
      %p アカウントをお持ちでない方はこちら
      %a{href: '#', class: ' btn login-box__new-account__btn'}
        新規会員登録
    .sns-account
      %a{href: '#', class: 'btn btn-facebook'}
        Facebookでログイン
      %a{href: '#', class: 'btn btn-google'}
        Googleでログイン
    %form{class: 'login-box__form'}
      %input{type: "email", name: "email", value: "", placeholder: "メールアドレス", class: "login-box__form__input"}
      %input{type: "password", name: "password", value: "", placeholder: "パスワード", class: "login-box__form__input"}
      -# 私はロボットではありませんのチェックボックスを追加する
      %h1{class: 'fixit'} 私はロボットではありません
      %button{type: 'submit', class: 'btn login-box__form__submit'}
        ログイン
      %a{href: '#', class: 'login-box__form__forget-pass'}
        パスワードをお忘れの方

= render 'shared/sub-footer'

-# %footer{class: 'sub-footer'}
-#   %ul{class: 'sub-footer__links'}
-#     %li
-#       %a{href: '#', class: 'opacity'}
-#         プライバシーポリシー
-#     %li
-#       %a{href: '#', class: 'opacity'}
-#         エフマーケット利用規約
-#     %li
-#       %a{href: '#', class: 'opacity'}
-#         特定商取引に関する表記
-#   = link_to '#' do
-#     %img{ src: '/svg/logo_gray.svg', class: 'sub-footer__logo opacity'}
-#   %p{class: 'copy-right'} © 2019 Fmarket

.divider 会員情報入力ページ

= render 'shared/registration-header'

-# %header{class: 'sub-header'}
-#   = link_to '#' do
-#     %img{ src: '/svg/fmarket_logo_red.svg', class: ' sub-header__logo'}
-#   %nav{class: 'sub-header__bar'}
-#     %ol{class: 'stepper'}
-#       %li 会員情報
-#       %li 電話番号認証
-#       %li お届け先住所入力
-#       %li 支払い方法
-#       %li 完了

.main
  .registration-box
    .registration-box__title
      %h1 会員情報入力
    .registration-box__contents
      %form{class: 'registration-box__contents__form'}
        .form-group.first-form
          .form-group__label
            %label{class: 'form-group__label__text'} ニックネーム
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "nickname", value: "", placeholder: "例）エフ太郎", class: "form-group__input"}

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} メールアドレス
            %span{class: 'form-group__label__require'} 必須
          %input{type: "email", name: "email", value: "", placeholder: "PC・携帯どちらでも可", class: "form-group__input"}

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} パスワード
            %span{class: 'form-group__label__require'}  必須
          %input{type: "password", name: "password", value: "", placeholder: "７文字以上", class: "form-group__input"}
          .form-group__revelation-pass
            %input{type: 'checkbox',class: 'form-group__revelation-pass__checkbox'}
            %label{class: 'form-group__revelation-pass__label'} パスワードを表示する
        .form-group
          %h3{class: 'form-group__subtitle'} 本人確認
          %p{class: 'form-group__text form-note'} 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} お名前(全角)
            %span{class: 'form-group__label__require'}  必須
          %input{type: "text", name: "last_name", value: "", placeholder: "例）山田", class: "form-group__input--half-first"}
          %input{type: "text", name: "first_name", value: "", placeholder: "例）彩", class: "form-group__input--half"}

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} お名前カナ(全角) 
            %span{class: 'form-group__label__require'}  必須
          %input{type: "text", name: "last_name", value: "", placeholder: "例）ヤマダ", class: "form-group__input--half-first"}
          %input{type: "text", name: "first_name", value: "", placeholder: "例）アヤ", class: "form-group__input--half"}

        .form-group.full-width
          .form-group__label
            %label{class: 'form-group__label__text'} 生年月日
            %span{class: 'form-group__label__require'}  必須
          .form-group__select
            .form-group__select__item
              %i{class: 'icon-arrow-down fa fa-chevron-down'}
              %select{name: "year", class: " first-select"}
                %option --
            %span 年

            .form-group__select__item
              %i{class: 'icon-arrow-down fa fa-chevron-down'}
              %select{name: "month", class: ""}
                %option --
            %span 月

            .form-group__select__item
              %i{class: 'icon-arrow-down fa fa-chevron-down'}
              %select{name: "day", class: ""}
                %option --
            %span 日
        %p{class: 'form-attention'} ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

        %h1{class: 'fixit'} 私はロボットではありません
        
        .form-group
          %p{class: 'registration-box__contents__form__info'}
            「次へ進む」のボタンを押すことにより、
            = link_to "利用規約", "#",{class: 'terms'}
            に同意したものとみなします

        %button{type: 'submit', class: 'btn registration-box__contents__form__submit'}
          次へ進む
        .form-group.text-right
          .registration-box__contents__form__info-link
            = link_to '#' do
              本人情報の登録について
              %i{class: 'icon-arrow-right fa fa-chevron-right'}

= render 'shared/sub-footer'


.divider 電話番号認証

= render 'shared/registration-header'

.main
  .auth-phoneNum-box
    .auth-phoneNum-box__title
      %h1 電話番号認証
    .auth-phoneNum-box__contents
      %form{class: 'auth-phoneNum-box__contents__form'}
        .form-group.first-form
          .form-group__label
            %label{class: 'form-group__label__text'} 携帯電話の番号
          %input{type: "tel", name: "tel_number", value: "", placeholder: "携帯電話の番号を入力", class: "form-group__input"}
        %p{class: 'form-note'} 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

        %button{type: 'submit', class: 'btn auth-phoneNum-box__contents__form__submit'}
          SMSを送信する
        %p{class: 'form-note'} ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

        .form-group.text-right
          .auth-phoneNum-box__contents__form__info-link
            = link_to '#' do
              電話番号の確認が必要な理由
              %i{class: 'icon-arrow-right fa fa-chevron-right'}

= render 'shared/sub-footer'

.divider 住所入力

= render 'shared/registration-header'

.main
  .address-box
    .address-box__title
      %h1 発送元・お届け情報入力
    .address-box__contents
      %form{class: 'address-box__contents__form'}
        .form-group.first-form
          .form-group__label
            %label{class: 'form-group__label__text'} お名前
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "firstname", value: "", placeholder: "例）山田", class: "form-group__input"}
          %input{type: "text", name: "lastname", value: "", placeholder: "例）彩", class: "form-group__input second-input"}


        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} お名前カナ
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "firstname_kana", value: "", placeholder: "例）ヤマダ", class: "form-group__input"}
          %input{type: "text", name: "lastname_kana", value: "", placeholder: "例）アヤ", class: "form-group__input second-input"}

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 郵便番号
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "postal_code", value: "", placeholder: "例）123-4567", class: "form-group__input"}

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 都道府県
            %span{class: 'form-group__label__require'} 必須
          .form-group__select__item
            %i{class: 'icon-arrow-down fa fa-chevron-down'}
            %select{name: "year", class: " first-select"}
              %option 北海道

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 市区町村
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "city", value: "", placeholder: "例）横浜市緑区", class: "form-group__input"}

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 番地
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "city_block", value: "", placeholder: "例）青山1-1-1", class: "form-group__input"}

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 建物名
            %span{class: 'form-group__label__optional optional'} 任意
          %input{type: "text", name: "building", value: "", placeholder: "例）柳ビル103", class: "form-group__input"}

        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 電話
            %span{class: 'form-group__label__optional optional'} 任意
          %input{type: "tel", name: "tel_number", value: "", placeholder: "例）09012345678", class: "form-group__input"}
        
        %button{type: 'submit', class: 'btn address-box__contents__form__submit'}
          次へ進む

= render 'shared/sub-footer'


.divider 支払い方法

= render 'shared/registration-header'


.main
  .payment-box
    .payment-box__title
      %h1 支払い方法
    .payment-box__contents
      %form{class: 'payment-box__contents__form'}
        .form-group.first-form
          .form-group__label
            %label{class: 'form-group__label__text'} カード番号
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "", value: "", placeholder: "半角数字のみ", class: "form-group__input"}
          .form-group__image
            = image_tag 'card_logo'
        .form-group  
          .form-group__label
            %label{class: 'form-group__label__text'} 有効期限
            %span{class: 'form-group__label__require'} 必須

          
          .form-group__select
            .flex-wrap
              .form-group__select__item
                %i{class: 'icon-arrow-down fa fa-chevron-down'}
                %select{name: "month", class: " first-select"}
                  %option 01
              %span 月

            .flex-wrap
              .form-group__select__item
                %i{class: 'icon-arrow-down fa fa-chevron-down'}
                %select{name: "year", class: " first-select"}
                  %option 19
              %span 年

        .form-group
          .form-group__label
            %label{class: 'form-group__label__text'} セキュリティコード
            %span{class: 'form-group__label__require'} 必須
          %input{type: "text", name: "", value: "", placeholder: "半角数字のみ", class: "form-group__input"}

        .info-wrap
          .payment-box__contents__form__info-link
            = link_to '#' do
              %i{class: 'icon-question fa fa-question-circle'}
              カード裏面の番号とは
              

        %button{type: 'submit', class: 'btn payment-box__contents__form__submit'}
          次へ進む


= render 'shared/sub-footer'

.divider 完了

= render 'shared/registration-header'

.main
  .complete-box
    .complete-box__title
      %h1 会員登録完了
    .complete-box__contents
      .complete-box__contents__message
        .form-group
          %p{class: 'form-group-text'} ありがとうございます。
          会員登録が完了しました。
        %button{type: 'button', class: 'btn'}
          メルカリをはじめる

= render 'shared/sub-footer'