- if user_signed_in?
  %header.toppage-login-sub
    .contents
      .contents__top
        .contents__top__image
          = link_to root_path do
            = image_tag "logo/fmarket_logo_red.svg", width: "134", height: "36"
        .contents__top__search
          = form_with url: list_path do |form|
            .contents__top__search--icon
              = button_tag type: 'submit' do
                = fa_icon 'search'
            = form.text_field :search, {class: 'contents__top__search--box', placeholder:"何をお探しですか？"}
             
      .contents__bottom
        .contents__bottom__left
          .contents__bottom__left__category
            = fa_icon 'list-ul'
            カテゴリーから探す
          .contents__bottom__left__brand
            = fa_icon 'tag'
            ブランドから探す
        .contents__bottom__right
          %a
            .contents__bottom__right__like
              .contents__bottom__right__like--icon
                %i.far.fa-heart
              .contents__bottom__right__like--text
                いいね！一覧
          %a
            .contents__bottom__right__notice
              .contents__bottom__right__notice--icon
                %i.far.fa-bell
              .contents__bottom__right__notice--text
                お知らせ

          %a
            .contents__bottom__right__list
              .contents__bottom__right__list--icon
                %i.fas.fa-check
              .contents__bottom__right__list--text
                やることリスト

          = link_to user_path(current_user.id) do
            .contents__bottom__right__mypage
              .contents__bottom__right__mypage--icon
                = image_tag 'my-page.jpg', width: "32", height: "32"
              .contents__bottom__right__mypage--text
                マイページ
- else
  %header.toppage-sub
    .contents
      .contents__top
        .contents__top__image
          = link_to items_path do
            = image_tag "logo/fmarket_logo_red.svg", width: "134", height: "36"
        .contents__top__search
          = form_with url: list_path do |form|
            .contents__top__search--icon
              = button_tag type: 'submit' do
                = fa_icon 'search'
            = form.text_field :search, {class: 'contents__top__search--box', placeholder:"何をお探しですか？"}

      .contents__bottom
        .contents__bottom__left
          .contents__bottom__left__category
            = fa_icon 'list-ul'
            カテゴリーから探す
          .contents__bottom__left__brand
            = fa_icon 'tag'
            ブランドから探す
        .contents__bottom__right
          .contents__bottom__right__registration
            = link_to select_singup_users_path do
              新規会員登録
          .contents__bottom__right__login
            = link_to new_user_session_path do
              ログイン