%header
  .contents
    .contents__top
      .contents__top__image
        = link_to "###" do
          = image_tag "logo/fmarket_logo_red.svg", width: "134", height: "36"
      .contents__top__search
        .contents__top__search--icon
          = fa_icon 'search'
        %input{type:"text", placeholder:"何をお探しですか？", class: "contents__top__search--box"}

    .contents__bottom
      .contents__bottom__left
        .contents__bottom__left__category
          = fa_icon 'list-ul'
          カテゴリーから探す
        .contents__bottom__left__brand
          = fa_icon 'tag'
          ブランドから探す
      .contents__bottom__right

        = link_to "###" do
          .contents__bottom__right__like
            .contents__bottom__right__like--icon
              %i.far.fa-heart
            .contents__bottom__right__like--text
              いいね！一覧
        = link_to "###" do
          .contents__bottom__right__notice
            .contents__bottom__right__notice--icon
              %i.far.fa-bell
            .contents__bottom__right__notice--text
              お知らせ

        = link_to "###" do
          .contents__bottom__right__list
            .contents__bottom__right__list--icon
              %i.fas.fa-check
            .contents__bottom__right__list--text
              やることリスト

        = link_to "###" do
          .contents__bottom__right__mypage
            .contents__bottom__right__mypage--icon
              = image_tag 'logo/my-page.jpg', width: "32", height: "32"
            .contents__bottom__right__mypage--text
              マイページ