-# 支払い方法

= render partial: 'shared/header'

-# パンくずリスト
- breadcrumb :credits_index
= render partial: 'shared/breadcrumbs'

%section.payment-section
  = render partial: 'shared/sidebar'
  %main.main-content
    .payment-content
      %section.payment-container
        %h2.payment-head 支払い方法
        .payment-inner
          %section
            .single-content
              %h3.head-menu クレジットカード一覧
          %section.add-credit
            .single-content
              = link_to "http://www.yahoo.co.jp/", class: "btn-credit" do
                %i.fa.fa-credit-card
                クレジットカードを追加する
          .payment-method
            = link_to "#" do
              %span 支払い方法について
              %i.fa.fa-chevron-right
= render partial: 'shared/footer'
