= render 'shared/sub-header'

.main
  .login-box
    .login-box__new-account
      %p アカウントをお持ちでない方はこちら
      = link_to select_singup_users_path, {class: ' btn login-box__new-account__btn'} do
        新規会員登録
    .login-box__sns-account
      = link_to user_facebook_omniauth_authorize_path,  method: :post, class: 'btn btn-facebook' do
        Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-google' do
        Googleでログイン
    .login-box__contents
      = form_with model: User.new, class: 'login-box__contents__form', url: user_session_path  do |f|
        = f.text_field :email, class: "login-box__contents__form__input", placeholder: "メールアドレス"
        = f.password_field :password, class: "login-box__contents__form__input", placeholder: "パスワード"

        -# 私はロボットではありません
        .form-group.captcha-wrap
        = recaptcha_tags callback: "clearcall", sitekey: ENV['RECAPTCHA_SITE_KEY']

        -# = link_to , method: :post do
        = f.submit "ログイン", class: 'btn login-box__contents__form__submit'

        = link_to '#', {class: 'login-box__contents__form__forget-pass'} do
          パスワードをお忘れの方

= render 'shared/sub-footer'