= render 'shared/sub-header'
.purchase_confirmation__contents
  %section.purchase_confirmation__contents__area
    %h2.purchase_confirmation__contents__area-head_title 購入内容の確認
  %section.purchase_confirmation__contents__buy
    %section.purchase_confirmation__contents__buy__inner
      %h3
        = image_tag 'items/item04.jpg', class:'purchase_confirmation__contents__buy__inner-item_img'
      %p.purchase_confirmation__contents__buy__inner-item_name ルイヴィトン ハンドバッグ
      .purchase_confirmation__contents__buy__inner__buying-form
        %p.purchase_confirmation__contents__buy__inner__buying-form-price ¥6,500
        %span.purchase_confirmation__contents__buy__inner__buying-form-delivery-fee 送料込み
        %ul.purchase_confirmation__contents__buy__inner__buying-form__pointbox
          %li.purchase_confirmation__contents__buy__inner__buying-form-pointbox ポイントはありません
        %ul.purchase_confirmation__contents__buy__inner__buying-form__payment
          %li.purchase_confirmation__contents__buy__inner__buying-form__payment-pay_amount
            %div 支払い金額
            .purchase_confirmation__contents__buy__inner__buying-form__payment-pay_amount-price_cell ¥6,500
        %p.purchase_confirmation__contents__buy__inner__buying-form-error_text この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
        %button.purchase_confirmation__contents__buy__inner__buying-form-btn{type:"submit"} 購入する
        %p.purchase_confirmation__contents__buy__inner__buying-form-apprecommend アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
        .purchase_confirmation__contents__buy__inner__buying-form-app-icon
          %a{href: "###"}
            = image_tag 'logo/app-store.svg', class:'purchase_confirmation__contents__buy__inner__buying-form-app-icon-size-apple'
          %a{href: "###"}
            = image_tag 'logo/google-play.svg', class:'purchase_confirmation__contents__buy__inner__buying-form-app-icon-size-google'
  %section.purchase_confirmation__contents__buy
    .purchase_confirmation__contents__buyer_info
      %h3 配送先
      %address.purchase_confirmation__contents__buyer_info-add
        〒000-0000
        %br/
        大阪府 大阪市中央区中市浜 4-2-2
        %br/
        メルカリ 花子
      %a.purchase_confirmation__contents__buyer_info-change{href: "###"}
        %span 変更する
        %i.fas.fa-angle-right
  %section.purchase_confirmation__contents__buy
    .purchase_confirmation__contents__buyer_info
      %h3 支払い方法
      %address.purchase_confirmation__contents__buyer_info-payway
        %br/
        \/
      %a.purchase_confirmation__contents__buyer_info-change{href:"###"}
        %span 変更する
        %i.fas.fa-angle-right
= render 'shared/sub-footer'