
.notification
  - flash.each do |key, value|
    = content_tag :div, value, class: key

= render 'shared/sub-header'
.hensyu-box
  .hensyu-box__head
    %h2 商品情報を入力
  = form_with model: @item, method: :patch do |f|
    .hensyu-box__gazou
      %h3 
        出品情報 
        %span.hissu 必須
      %p 最大10枚までアップロード出来ます
      = f.fields_for :images do |image|
        .image-area
          .image-area__preview
            .image-area__preview__list
              %ul
                - if i = @item.images.first.image
                  %li.saved-image
                    .figure
                      = image_tag i.url, class: 'image-item'
                    .article
                      %button.edit-link{type: 'button'}
                        編集
                      %button.removeBtn{type: 'button'}
                        削除
                %li.preview-image
                  .figure
                    
                  .article
                    %button.edit-link{type: 'button'}
                      編集
                    %button.removePreviewBtn{type: 'button'}
                      削除
          = image.label :image do
            .image-area__input
              %pre
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
              = image.file_field :image, class: 'image-area__input--hidden fileField'
              = image.hidden_field :_destroy, class: 'removeField'
    .main-box-name
      .main-box-syouhinmei
        = f.label :item do
          商品名 
          %span.hissu 必須
        %div
          = f.text_field :name,{class: 'input-text'}
      .main-box-syouhinsetumei
        = f.label :item do
          商品の説明 
          %span.hissu 必須
          = f.text_area :description,{class: 'textarea'}
    .hensyu-box__item
      %h3 商品の詳細
      .hensyu-box__itemname
        = f.label :category do
          カテゴリ
          %span.hissu 必須
        %div
          .select-wrap
            = f.collection_select :c, @oya, :id, :name, {include_blank: '---',selected: Category.find(@item.category_id).parent.parent.id},class: 'select-default', id: 'parent'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap
            = f.collection_select :c, @childrens, :id, :name, {include_blank: '---',selected: Category.find(@item.category_id).parent.id}, class: 'select-default', id: 'children'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap
            = f.collection_select :category_id, @mago, :id, :name, {include_blank: '---'}, class: 'select-default', id: 'grandchildren'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap2#size-area
            = f.label :size do
              サイズ
              %span.hissu 必須   
            = f.collection_select :size_id, @sizes, :id, :size, {include_blank: '---'}, class: 'select-default', id: 'selectSize'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap2
            = f.label :brand do
              ブランド
              %span.nini 任意    
            = f.collection_select :brand_id, @brands, :id, :name, {include_blank: '---'}, class: 'select-default'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap2  
            = f.label :item_status do
              商品の状態
              %span.hissu 必須   
            = f.collection_select :item_status_id, @item_statuses, :id, :status, {}, class: 'select-default'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
    .hensyu-box__item2
      %h3 配送について
      .hensyu-box__itemname2
        = f.label :delivery_fee do
          配送料の負担
          %span.hissu 必須
        %div
          .select-wrap
            = f.select :delivery_fee, [["送料込み（出品者負担）"],["着払い（購入者負担）"]], {},class: 'select-default'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap2  
            = f.label :delivery_method_id do
              配送の方法
              %span.hissu 必須   
            = f.collection_select :delivery_method_id, @delivery_methods, :id, :method,{}, class: 'select-default'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap2 
            = f.label :prefecture do
              発送元の地域
              %span.hissu 必須   
            = f.collection_select :prefecture_id, @prefectures, :id, :name, {}, class: 'select-default'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
          .select-wrap2 
            = f.label :delivery_status do
              発送までの日数
              %span.hissu 必須   
            = f.collection_select :delivery_status_id, @delivery_statuses,:id, :status,{}, class: 'select-default'
            %i.fa.fa-angle-down.fa-lg.fa-down.icon
    .main-box__price.clear-fix
      %h3
        販売価格(300~9,999,999)
        %i{class: 'icon-question fa fa-question-circle'}
      .main-box__price__form
        %ul
          %li.first-list
            .left
              = f.label :price do
                価格
                %span.hissu 必須
            .right
              %div
                %p ¥
                = f.text_field :price,{placeholder: '例）300円', class: 'price-input'}
          %li.clear-fix.fee-area
            .p-left 
              販売手数料(10%) 
            .p-right 
              %p.fee-area__tax-rate 
                ¥
                = @tesuryo.floor.to_s(:delimited)
          %li.clear-fix.profit-area
            .p-left 
              %p 販売利益
            .p-right 
              %p.profit-area__text 
                ¥
                = @rieki.floor.to_s(:delimited)
    .hensyu-box-last
      %button.button-red.submitBtn
        変更する
      = link_to user_selling_path(current_user, @item) do
        %p.button-gray キャンセル
      
= render 'shared/sub-footer'
