-# ログイン前
- if user_signed_in?
  %header.toppage-login
    .contents
      .contents__top
        .contents__top__image
          = link_to "###" do
            = image_tag "logo/fmarket_logo_red.svg", width: "134", height: "36"
        .contents__top__search
          .contents__top__search--icon
            = fa_icon 'search'
          %input{type:"text", placeholder:"何をお探しですか？", class: "contents__top__search--box"}

      .contents__bottom
        .contents__bottom__left
          .contents__bottom__left__category
            = fa_icon 'list-ul'
            カテゴリーから探す
          .contents__bottom__left__brand
            = fa_icon 'tag'
            ブランドから探す
        .contents__bottom__right
          = link_to "###" do
            .contents__bottom__right__like
              .contents__bottom__right__like--icon
                %i.far.fa-heart
              .contents__bottom__right__like--text
                いいね！一覧
          = link_to "###" do
            .contents__bottom__right__notice
              .contents__bottom__right__notice--icon
                %i.far.fa-bell
              .contents__bottom__right__notice--text
                お知らせ

          = link_to "###" do
            .contents__bottom__right__list
              .contents__bottom__right__list--icon
                %i.fas.fa-check
              .contents__bottom__right__list--text
                やることリスト

          = link_to "###" do
            .contents__bottom__right__mypage
              .contents__bottom__right__mypage--icon
                = image_tag 'my-page.jpg', width: "32", height: "32"
              .contents__bottom__right__mypage--text
                マイページ

- else
  %header.toppage-main
    .contents
      .contents__top
        .contents__top__image
          = link_to items_path do
            = image_tag "logo/fmarket_logo_red.svg", width: "134", height: "36"
        .contents__top__search
          .contents__top__search--icon
            = fa_icon 'search'
          %input{type:"text", placeholder:"何をお探しですか？", class: "contents__top__search--box"}

      .contents__bottom
        .contents__bottom__left
          .contents__bottom__left__category
            = fa_icon 'list-ul'
            カテゴリーから探す
          .contents__bottom__left__brand
            = fa_icon 'tag'
            ブランドから探す
        .contents__bottom__right
          .contents__bottom__right__registration
            = link_to select_singup_users_path do
              新規会員登録
          .contents__bottom__right__login
            = link_to new_user_session_path do
              ログイン

.content
  .top__header__area
    .top__header__area__carousel
      = image_tag 'items/top-banner-camp.jpg', class:'top__header__area__carousel-img'
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のカテゴリー
    %ul.top__header__area__popularity__category
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
  %section.new__items
    .new__items-genre
      %h3
        レディース新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @ladies.each do |lady|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag lady.images[0].image.url , class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{lady.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = lady.name
  
  %section.new__items
    .new__items-genre
      %h3
        メンズ新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @men.each do |man|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag man.images[0].image.url , class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{man.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = man.name

  %section.new__items
    .new__items-genre
      %h3
        家電・スマホ・カメラ新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @homes.each do |home|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag home.images[0].image.url , class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{home.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = home.name

  %section.new__items
    .new__items-genre
      %h3
        おもちゃ・ホビー・グッズ新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @toys.each do |toy|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag toy.images[0].image.url , class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{toy.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = toy.name

  .top__header__area
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のブランド
    %ul.top__header__area__popularity__category
      %li シャネル
      %li ルイヴィトン
      %li シュプリーム
      %li ナイキ
  %section.new__items
    .new__items-genre
      %h3
        シャネル新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @chanels.each do |chanel|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{chanel.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = chanel.name

  %section.new__items
    .new__items-genre
      %h3
        ルイヴィトン新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @lvs.each do |lv|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{lv.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = lv.name

  %section.new__items
    .new__items-genre
      %h3
        シュプリーム新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @supremes.each do |supreme|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{supreme.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = supreme.name

  %section.new__items
    .new__items-genre
      %h3
        ナイキ新着アイテム
      = link_to "###" do
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - @nikes.each do |nike|
        = link_to "#" do
          .new__items__container__box
            %figure
              = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
              %p.new__items__container__box-price
                = "¥#{nike.price.to_s(:delimited)}"
            .new__items__container__box__item_body
              %h3 
                = nike.name




= render partial: 'shared/footer'