= render 'shared/main-header'
= render 'shared/post'

.content
  .top__header__area
    .top__header__area__carousel
      .top__header__area__carousel-img
        = image_tag 'items/top-banner-camp.jpg', class:'top__header__area__carousel-img'
      .top__header__area__carousel-img
        = image_tag 'items/top-banner-sale.png', class:'top__header__area__carousel-img'
      .top__header__area__carousel-imgapp
        .top__header__area__carousel-imgapp-headeblock
          .top__header__area__carousel-imgapp-headeblock-headtext
            スマホで かんたん
            %br/
            フリマアプリ
          .top__header__area__carousel-imgapp-headeblock-headbody
            メルカリはスマホカメラからすぐに出品できる
            %br/
            購入時も安心な独自システムのアプリです
          .top__header__area__carousel-imgapp-headeblock-appbox
            = link_to "" do
              = image_tag 'logo/download-on-the-app-store-apple.svg', class:'top__header__area__carousel-imgapp-headeblock-appbox-apple'  
            = link_to "" do
              = image_tag 'logo/google-play-download-android-app.svg', class:'top__header__area__carousel-imgapp-headeblock-appbox-google'
    
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のカテゴリー
    %ul.top__header__area__popularity__category
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
  %section.new__items
    .new__items-genre
      %h3
        レディース新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @ladies.present?
        - @ladies.each do |lady|
          = link_to item_path(lady.id) do
            .new__items__container__box
              %figure
                = image_tag lady.images[0].image.url , class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{lady.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = lady.name

  %section.new__items
    .new__items-genre
      %h3
        メンズ新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @men.present?
        - @men.each do |man|
          = link_to item_path(man.id) do
            .new__items__container__box
              %figure
                = image_tag man.images[0].image.url , class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{man.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = man.name
  %section.new__items
    .new__items-genre
      %h3
        家電・スマホ・カメラ新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @homes.present?
        - @homes.each do |home|
          = link_to item_path(home.id) do
            .new__items__container__box
              %figure
                = image_tag home.images[0].image.url , class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{home.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = home.name

  %section.new__items
    .new__items-genre
      %h3
        おもちゃ・ホビー・グッズ新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @toys.present?
        - @toys.each do |toy|
          = link_to item_path(toy.id) do
            .new__items__container__box
              %figure
                = image_tag toy.images[0].image.url , class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{toy.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = toy.name

  .top__header__area
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のブランド
    %ul.top__header__area__popularity__category
      %li シャネル
      %li ルイヴィトン
      %li シュプリーム
      %li ナイキ
  %section.new__items
    .new__items-genre
      %h3
        シャネル新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @chanels.present?
        - @chanels.each do |chanel|
          = link_to item_path(chanel.id) do
            .new__items__container__box
              %figure
                = image_tag chanel.images[0].image.url, class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{chanel.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = chanel.name

  %section.new__items
    .new__items-genre
      %h3
        ルイヴィトン新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @lvs.present?
        - @lvs.each do |lv|
          = link_to item_path(lv.id) do
            .new__items__container__box
              %figure
                = image_tag lv.images[0].image.url, class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{lv.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = lv.name

  %section.new__items
    .new__items-genre
      %h3
        シュプリーム新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @supremes.present?
        - @supremes.each do |supreme|
          = link_to item_path(supreme.id) do
            .new__items__container__box
              %figure
                = image_tag supreme.images[0].image.url, class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{supreme.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = supreme.name

  %section.new__items
    .new__items-genre
      %h3
        ナイキ新着アイテム
      %a
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      - if @nikes.present?
        - @nikes.each do |nike|
          = link_to item_path(nike.id) do
            .new__items__container__box
              %figure
                = image_tag nike.images[0].image.url, class:'new__items__container__box-item_phot'
                %p.new__items__container__box-price
                  = "¥#{nike.price.to_s(:delimited)}"
              .new__items__container__box__item_body
                %h3 
                  = nike.name




= render 'shared/footer'