= render partial: 'header'
.content
  .top__header__area
    .top__header__area__carousel
      = image_tag 'top-banner-camp.jpg', class:'top__header__area__carousel-img'
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のカテゴリー
    %ul.top__header__area__popularity__category
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ
  %section.new__items
    .new__items-genre
      %h3
        レディース新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
  %section.new__items
    .new__items-genre
      %h3
        メンズ新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'mens01.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥5,500
          .new__items__container__box__item_body
            %h3 kutir black テーラードブルゾン
  %section.new__items
    .new__items-genre
      %h3
        家電・スマホ・カメラ新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'iphonese.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥12,500
          .new__items__container__box__item_body
            %h3 iPhone SE Space Gray 32 GB（中古）
  %section.new__items
    .new__items-genre
      %h3
        おもちゃ・ホビー・グッズ新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'slime.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥3,000
          .new__items__container__box__item_body
            %h3 スライムぬいぐるみセット
  .top__header__area
    .top__header__area__popularity
      %h2.top__header__area__popularity-headline 人気のブランド
    %ul.top__header__area__popularity__category
      %li シャネル
      %li ルイビトン
      %li ポーター
      %li アディダス
  %section.new__items
    .new__items-genre
      %h3
        シャネル新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'CHANEL.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥9,000
          .new__items__container__box__item_body
            %h3 1番人気 新品未開封！大人気 CHANEL チャンス 100ml
  %section.new__items
    .new__items-genre
      %h3
        ルイヴィトン新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'luisvuitton.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥6,900
          .new__items__container__box__item_body
            %h3 ルイヴィトン ミュール サンダル パンプス ヒール 35
  %section.new__items
    .new__items-genre
      %h3
        ポーター新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'porter.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥16,000
          .new__items__container__box__item_body
            %h3 ポーター2wayトートバッグ／タンゴブラックシリーズ
  %section.new__items
    .new__items-genre
      %h3
        アディダス新着アイテム
      %a{:href => "###"}
        %span.new__items-more もっと見る
        %i.fas.fa-angle-right
  %section.new__items
    .new__items__container
      %a{:href => "###"}
        .new__items__container__box
          %figure
            = image_tag 'adidas.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥17,500
          .new__items__container__box__item_body
            %h3 90's adidas ADVENTURE デナリジャケット デサント製
= render partial: 'footer'