= render partial: 'shared/header'

-# パンくずリスト
- breadcrumb :items_list
= render partial: 'shared/breadcrumbs'

.content
  %section.new__items
    .new__items-genre
      %h3
        レディースの商品一覧
  %section.new__items
    .new__items__container
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
      = link_to "###" do
        .new__items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'new__items__container__box-item_phot'
            %p.new__items__container__box-price ¥2,500
          .new__items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ


= render partial: 'shared/footer'