= render 'shared/sub-header'
-# %header.single-header
-# - @img = Image.find(3)
-# - if @img.image
-#   = image_tag @img.image.to_s
.main-box
  .main-box__head 商品の情報を入力
  - @item = Item.new
  = form_with model: @item do |f|
    .main-box__image
      %h3 
        出品情報 
        %span.hissu 必須
      %p 最大10枚までアップロードできます
      -# = f.fields_for :images do |image|
      -# = f.file_field :image, multiple: true
      = f.fields_for :images, @item.images.build do |image|
        .box
          = image.label :image do
            .main-box__image__area
              %pre
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
              = image.file_field :image

    .main-box__name
      .main-box__syouhinmei
        = f.label :name do
          商品名
          %span.hissu 必須
        %div
          = f.text_field :name,{class: 'input-text', placeholder: "商品名（必須40字まで）"}
          
      .main-box__syouhinsetumei
        = f.label :description do
          商品の説明 
          %span.hissu 必須
        = f.text_area :description, {class: 'textarea', rouws:5 , placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

    .main-box__show.clear-fix
      %h3.h3sub 商品の詳細
      %div.main-box__showbox
        %div.main-box__kategori
          = f.label :category do
            カテゴリー 
            %span.hissu 必須
          %div
            %div.select-box.parent
              -# %i.fa.fa-angle-down.fa-lg.fa-down.icon
              - @parents = Category.roots
              -# - @children = @parents.first.children
              -# - @grandchildren = @children.find()
              = f.collection_select :category_id, @parents, :id, :name, {include_blank: '---'}, class: 'select-default', id: 'parent'

            %div.select-box#children-area
              -# %i.fa.fa-angle-down.fa-lg.fa-down.icon
              = f.select :category_id, [], {include_blank: '---'}, class: 'select-default', id: 'children'
                
            %div.select-box#grandchildren-area
              -# %i.fa.fa-angle-down.fa-lg.fa-down.icon
              = f.select :category_id, [], {include_blank: '---'}, class: 'select-default', id: 'grandchildren'

        .main-box__select-group#size-area
          = f.label :size_id do
            サイズ
            %span.hissu 必須
          %div
            %div.select-box
              - @sizes = Size.all
              = f.collection_select :size_id, @sizes, :id, :size, {include_blank: '---'}, class: 'select-default'

        .main-box__select-group#brand-area
          = f.label :brand_id do
            ブランド
            %span.optional 任意
          %div
            %div.select-box
              - @brands = Brand.all
              = f.collection_select :brand_id, @brands, :id, :name, {include_blank: '---'}, class: 'select-default'

        %div.main-box__zyoutai
          = f.label :item_status do
            商品の状態
            %span.hissu 必須
          %div
            %div.select-box
              
              - @item_statuses = ItemStatus.all
              = f.collection_select :item_status_id, @item_statuses, :id, :status, {include_blank: '---'}, class: 'select-default'
    .main-box__haisou
      %h3.h3sub 
        配送について
        %i{class: 'icon-question fa fa-question-circle'}
      %div.haisou-box
        %div.haisou-futan
          = f.label :delivery_fee do
            配送料の負担 
            %span.hissu 必須
          %div
            %div.select-box
              
              = f.select :delivery_fee ,[['---',''],['着払い'],['送料込み',2]], {}, class: 'select-default'
        %div.haisou-area
          - @prefectures = Prefecture.all
          = f.label :prefecture do
            発送元の地域 
            %span.hissu 必須
          %div
            %div.select-box
              = f.collection_select :prefecture_id, @prefectures, :id, :name, {include_blank: '---'}, class: 'select-default'
        %div.haisou-nissu
          = f.label :delivery_status do
            発送までの日数 
            %span.hissu 必須
          %div
            %div.select-box
              - @deliveryStatus = DeliveryStatus.all
              = f.collection_select :delivery_status_id, @deliveryStatus, :id, :status, {include_blank: '---'}, class: 'select-default'
              
    .main-box__price
      %h3
        販売価格(300~9,999,999)
        %i{class: 'icon-question fa fa-question-circle'}
      .main-box__price__form
        %ul
          %li.first-list
            .left
              = f.label :price do
                価格
                %span.hissu 必須
            .right
              %div
                %p ¥
                = f.text_field :price,{placeholder: '例）300円', class: 'price-input'}
          %li.clear-fix.fee-area
            .p-left 
              販売手数料(10%)
            .p-right
              %p.fee-area__tax-rate -
          %li.clear-fix.profit-area
            .p-left 
              %p 販売利益
            .p-right 
              %p.profit-area__text -
    .main-box__foot
      .main-box__foot__text
        %p
          = link_to "#" do
            禁止されている出品
          、
          = link_to "#" do 
            行為
          を必ずご確認ください。
        %p  
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to '#' do
            偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          = link_to '#' do
            加盟店規約
          に同意したことになります。
      %button{type: 'submit'}
        出品する

      = link_to '#' do
        %button{type: 'button'}
          もどる

= render 'shared/sub-footer'
