= render partial: 'shared/main-header'
%section.item_detail_contents

  %h1.item_detail_contents__item-name 
    = @item.name
  .item_detail_contents__box
    .item_detail_contents__box__images
      .item_detail_contents__box__images-main
        = image_tag @item.images[0].image, class:'item_detail_contents__box__images-img'
        .item_detail_contents__box__images-subs
          = image_tag @item.images[0].image, class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          -# = image_tag 'items/bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
    .item_detail_contents__box__details-area
      %table.item_detail_contents__box__details-table
        %tr
          %th 出品者
          %td
            = link_to "###" do
              %p
                = @item.user.nickname
            %br/
            .evaluation
              %i.fas.fa-laugh
              %span
                72
                %span
            .evaluation
              %i.fas.fa-meh
              %span
                0
                %span
            .evaluation
              %i.fas.fa-frown
              %span
                0
                %span
        %tr
          %th カテゴリー
          %td
            %div
              = link_to "###" do
                = @item.category.path[0].name
            %div
              = link_to "###" do
                %i.fas.fa-chevron-right>
                = @item.category.path[1].name
            %div
              = link_to "###" do
                %i.fas.fa-chevron-right>
                = @item.category.path[2].name
        %tr
          %th ブランド
          %td
            = link_to "###" do
              = @item.brand.name
        %tr
          %th 商品の状態
          %td 
            = @item.item_status.status
        %tr
          %th 配送料の負担
          %td 
            = @item.delivery_fee
        %tr
          %th 配送の方法
          %td 
            = @item.delivery_method.method
        %tr
          %th 配送元地域
          %td
            = link_to "###" do
              = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td 
            = @item.delivery_status.status
  .price__section
    %span.price__section-pricetext 
      = "¥#{@item.price.to_s(:delimited)}"
    %span.price__section-tax (税込)
    %span.price__section-delivery-fee 
      = @item.delivery_fee
  = link_to confirmation_item_path, class: "buy-button" do
    %p.buy-text 購入画面に進む
  -# %p.delivery_caution この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
  .item__description
    %p.item__description-text
      = @item.description
  .item__bottun__container
    %ul.item__bottun__container__box
      %li.item__bottun__container__box-tag
        %i.far.fa-heart
        %span.item__bottun__container__box-tag-like いいね！16
      = link_to "###" do
        %li.item__bottun__container__box-tag
          %i.far.fa-flag
          %span.item__bottun__container__box-tag-report 不適切な商品の報告
      = link_to "###" do
        %span.item__bottun__container__box-secure
          %i.material-icons> https
          あんしん・あんぜんへの取り組み

%section.comment__container
  .comment__container__box
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %input{type: "hidden"}/
  %textarea.comment__container__comment{type: "text"}
      
  %button.comment__container__submit{type: "submit"}
    %span コメントする
.page_nav__area
  %ul.page_nav__area__box
    %li.page_nav__area__box-prev
      = link_to "###" do
        %i.fas.fa-angle-left>
        前のページ
    %li.page_nav__area__box-next
      = link_to "###" do
        次のページ
        %i.fas.fa-angle-right
%section.social__icon__area
  .social__icon__area__container
    .social__icon__area__container__icon
      = link_to "###" do
        .social__icon__area__container__icon-facebook
          %i.fab.fa-facebook-square
    .social__icon__area__container__icon
      = link_to "###" do
        .social__icon__area__container__icon-twitter
          %i.fab.fa-twitter
    .social__icon__area__container__icon
      = link_to "###" do
        .social__icon__area__container__icon-pinterest
          %i.fab.fa-pinterest
%section.related__item
  %h2.related__item-head
    = link_to "###" do
      = "#{@item.user.nickname}のその他の出品"
    .items__container
      = link_to "###" do
        .items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'items__container__box-item_phot'
          .items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
            .items__container__box__item_body__info
              .items__container__box__item_body__info-price ¥85,000
              .items__container__box__item_body__info-like
                %i.far.fa-heart
                %span 68
      = link_to "###" do
        .items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'items__container__box-item_phot'
          .items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
            .items__container__box__item_body__info
              .items__container__box__item_body__info-price ¥85,000
              .items__container__box__item_body__info-like
                %i.far.fa-heart
                %span 68
      = link_to "###" do
        .items__container__box
          %figure
            = image_tag 'items/item04.jpg', class:'items__container__box-item_phot'
          .items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
            .items__container__box__item_body__info
              .items__container__box__item_body__info-price ¥85,000
              .items__container__box__item_body__info-like
                %i.far.fa-heart
                %span 68
.bottom__nav
  %ul.bottom__nav__crumbs
    %li.bottom__nav__crumbs__crumbs-list
      = link_to "/" do
        メルカリ 
      %i.fas.fa-angle-right
      = @item.name
= render partial: 'shared/footer'