<div class="content">
    <div class="top__header__area">
        <div class="top__header__area__carousel">
            <%= image_tag 'top-banner-camp.jpg', class:'top__header__area__carousel-img' %>
        </div>
        <div class="top__header__area__popularity">
        <h2 class="top__header__area__popularity-headline">人気のカテゴリー</h2>
        </div>

        <ul class="top__header__area__popularity__category">
            <li>レディース</li>
            <li>メンズ</li>
            <li>家電・スマホ・カメラ</li>
            <li>おもちゃ・ホビー・グッズ</li>
        </ul>
    </div>

    <section class="new__items">
        <div class="new__items-genre">
            <h3>
            レディース新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    
    <section class="new__items">

        <div class="new__items__container">
             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

            <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'item04.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥2,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ダミエ リビラ</h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items-genre">
            <h3>
            メンズ新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

              <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'mens01.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥5,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>kutir black テーラードブルゾン</h3>
                    </div>   
                </div>
             </a>

         </div>
    </section>

     <section class="new__items">
        <div class="new__items-genre">
            <h3>
            家電・スマホ・カメラ新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'iphonese.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥12,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>iPhone SE Space Gray 32 GB（中古） </h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

     <section class="new__items">
        <div class="new__items-genre">
            <h3>
            おもちゃ・ホビー・グッズ新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'slime.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥3,000</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>スライムぬいぐるみセット</h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

    <div class="top__header__area">
    <div class="top__header__area__popularity">
        <h2 class="top__header__area__popularity-headline">人気のブランド</h2>
        </div>

        <ul class="top__header__area__popularity__category">
            <li>シャネル</li>
            <li>ルイビトン</li>
            <li>ポーター</li>
            <li>アディダス</li>
        </ul>
    </div>

    <section class="new__items">
        <div class="new__items-genre">
            <h3>
            シャネル新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'CHANEL.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥9,000</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>1番人気 新品未開封！大人気 CHANEL チャンス 100ml</h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items-genre">
            <h3>
            ルイヴィトン新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'luisvuitton.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥6,900</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ルイヴィトン ミュール サンダル パンプス ヒール 35</h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items-genre">
            <h3>
            ポーター新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'porter.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥16,000</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>ポーター2wayトートバッグ／タンゴブラックシリーズ</h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items-genre">
            <h3>
            アディダス新着アイテム
            </h3>
            <a href="###"><span class="new__items-more">もっと見る</span><i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <section class="new__items">
        <div class="new__items__container">

             <a href="###">
                <div class="new__items__container__box">
                    <figure>
                    <%= image_tag 'adidas.jpg', class:'new__items__container__box-item_phot' %>
                   <p class="new__items__container__box-price">¥17,500</p>
                    </figure>
                    <div class="new__items__container__box__item_body">
                    <h3>90's adidas ADVENTURE デナリジャケット デサント製</h3>
                    </div>   
                </div>
             </a>
        </div>
    </section>

</div>