%section.item_detail_contents
  %h1.item_detail_contents__item-name ルイヴィトン アクセサリーポーチ ショルダーバッグ
  .item_detail_contents__box
    .item_detail_contents__box__images
      .item_detail_contents__box__images-main
        = image_tag 'bag_sample01.jpg', class:'item_detail_contents__box__images-img'
        .item_detail_contents__box__images-subs
          = image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
          = image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub'
    .item_detail_contents__box__details-area
      %table.item_detail_contents__box__details-table
        %tr
          %th 出品者
          %td
            %a{:href => "###"}
              %p はな
            %br/
            .evaluation
              %i.fas.fa-laugh
              %span
                72
                %span
            .evaluation
              %i.fas.fa-meh
              %span
                0
                %span
            .evaluation
              %i.fas.fa-frown
              %span
                0
                %span
        %tr
          %th カテゴリー
          %td
            %div
              %a{:href => "###"} レディース
            %div
              %a{:href => "###"}
                %i.fas.fa-chevron-right>
                バッグ
            %div
              %a{:href => "###"}
                %i.fas.fa-chevron-right>
                ショルダーバッグ
        %tr
          %th ブランド
          %td
            %a{:href => "###"} ルイ ヴィトン
        %tr
          %th 商品の状態
          %td 目立った傷や汚れなし
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td ゆうゆうメルカリ便
        %tr
          %th 配送元地域
          %td
            %a{:href => "###"} 和歌山県
        %tr
          %th 発送日の目安
          %td 2~3日で発送
  .price__section
    %span.price__section-pricetext ¥42,300
    %span.price__section-tax (税込)
    %span.price__section-delivery-fee 送料込み
  %a.buy-button{:href => "###"}
    %p.buy-text 購入画面に進む
  %p.delivery_caution この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
  .item__description
    %p.item__description-text
      ダミーのアクセサリーポーチです。
      状態は綺麗です。
      写真の通り中には少し汚れがあります。
      中古品のため神経質な方はお控えください。
      ご理解ある方宜しくお願いします。
      正規品です。
      シリアル番号あり。
      すり替え防止のため返品はお断りさせて頂きます。
  .item__bottun__container
    %ul.item__bottun__container__box
      %li.item__bottun__container__box-tag
        %i.far.fa-heart
        %span.item__bottun__container__box-tag-like いいね！16
      %a{:href => "###"}
        %li.item__bottun__container__box-tag
          %i.far.fa-flag
          %span.item__bottun__container__box-tag-report 不適切な商品の報告
      %a{:href => "###"}
        %span.item__bottun__container__box-secure
          %i.material-icons> https
          あんしん・あんぜんへの取り組み
%section.comment__container
  .comment__container__box
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %input{:type => "hidden"}/
  %textarea.comment__container__comment{:type => "text"}
    :preserve
      
  %button.comment__container__submit{:type => "submit"}
    %span コメントする
.page_nav__area
  %ul.page_nav__area__box
    %li.page_nav__area__box-prev
      %a{:href => "###"}
        %i.fas.fa-angle-left>
        前のページ
    %li.page_nav__area__box-next
      %a{:href => "###"}
        次のページ
        %i.fas.fa-angle-right
%section.social__icon__area
  .social__icon__area__container
    .social__icon__area__container__icon
      %a{:href => "###"}
        .social__icon__area__container__icon-facebook
          %i.fab.fa-facebook-square
    .social__icon__area__container__icon
      %a{:href => "###"}
        .social__icon__area__container__icon-twitter
          %i.fab.fa-twitter
    .social__icon__area__container__icon
      %a{:href => "###"}
        .social__icon__area__container__icon-pinterest
          %i.fab.fa-pinterest
%section.related__item
  %h2.related__item-head
    %a{:href => "###"} はなさんのその他の出品
    .items__container
      %a{:href => "###"}
        .items__container__box
          %figure
            = image_tag 'item04.jpg', class:'items__container__box-item_phot'
          .items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
            .items__container__box__item_body__info
              .items__container__box__item_body__info-price ¥85,000
              .items__container__box__item_body__info-like
                %i.far.fa-heart
                %span 68
      %a{:href => "###"}
        .items__container__box
          %figure
            = image_tag 'item04.jpg', class:'items__container__box-item_phot'
          .items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
            .items__container__box__item_body__info
              .items__container__box__item_body__info-price ¥85,000
              .items__container__box__item_body__info-like
                %i.far.fa-heart
                %span 68
      %a{:href => "###"}
        .items__container__box
          %figure
            = image_tag 'item04.jpg', class:'items__container__box-item_phot'
          .items__container__box__item_body
            %h3 ルイヴィトン ダミエ リビラ
            .items__container__box__item_body__info
              .items__container__box__item_body__info-price ¥85,000
              .items__container__box__item_body__info-like
                %i.far.fa-heart
                %span 68
