<section class="item_detail_contents">
<h1 class="item_detail_contents__item-name">ルイヴィトン アクセサリーポーチ ショルダーバッグ</h1>
<div class="item_detail_contents__box">
  <div class="item_detail_contents__box__images">
    <div class="item_detail_contents__box__images-main">
    <%= image_tag 'bag_sample01.jpg', class:'item_detail_contents__box__images-img' %>
     <div class="item_detail_contents__box__images-subs">
      <%= image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub' %>
      <%= image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub' %>
      <%= image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub' %> 
      <%= image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub' %>
      <%= image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub' %> 
      <%= image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub' %>
      <%= image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub' %>
      <%= image_tag 'bag_sample02.jpg', class:'item_detail_contents__box__images-sub' %> 
      <%= image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub' %>
      <%= image_tag 'bag_sample03.jpg', class:'item_detail_contents__box__images-sub' %> 
     </div>
    </div>
  </div>
  
  <div class="item_detail_contents__box__details-area">
    <table class="item_detail_contents__box__details-table">
    <tr>
    <th>出品者</th> 
    <td><a href="###"><p>はな</p></a><br>
    <div class="evaluation">
    <i class="fas fa-laugh"></i><span>72<span>
    </div>
    <div class="evaluation">
    <i class="fas fa-meh"></i><span>0<span>
    </div>
    <div class="evaluation">
    <i class="fas fa-frown"></i><span>0<span>
    </div>
    </td>
    </tr>
    <tr>
    <th>カテゴリー</th>
    <td>
    <div><a href="###">レディース</a></div>
    <div><a href="###"><i class="fas fa-chevron-right"></i>バッグ</a></div>
    <div><a href="###"><i class="fas fa-chevron-right"></i>ショルダーバッグ</a></div>
    </td>
    </tr>
    <tr>
    <th>ブランド</th>
    <td><a href="###">ルイ ヴィトン</a></td>
    </tr>
    <tr>
    <th>商品の状態</th>
    <td>目立った傷や汚れなし</td>
    </tr>
    <tr>
    <th>配送料の負担</th>
    <td>送料込み(出品者負担)</td>
    </tr>
    <tr>
    <th>配送の方法</th>
    <td>ゆうゆうメルカリ便</td>
    </tr>
    <tr>
    <th>配送元地域</th>
    <td><a href="###">和歌山県</a></td>
    </tr>
    <tr>
    <th>発送日の目安</th>
    <td>2~3日で発送</td>
    </tr>
    </table>
  </div>
</div>
<div class="price__section">
<span class="price__section-pricetext">¥42,300</span>
<span class="price__section-tax"> (税込)</span>
<span class="price__section-delivery-fee">送料込み</span>
</div>

<a href="###" class="buy-button">
<p class="buy-text">購入画面に進む</p>
</a>
<p class="delivery_caution">この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。</p>

<div class="item__description">
<p class="item__description-text">
ダミーのアクセサリーポーチです。
状態は綺麗です。
写真の通り中には少し汚れがあります。
中古品のため神経質な方はお控えください。
ご理解ある方宜しくお願いします。
正規品です。
シリアル番号あり。  
すり替え防止のため返品はお断りさせて頂きます。
</p>
</div>

<div class="item__bottun__container">
  <ul class="item__bottun__container__box">
    <li class="item__bottun__container__box-tag">
    <i class="far fa-heart"></i><span class="item__bottun__container__box-tag-like">いいね！16</span>
    </li>
    <a href="###">
    <li class="item__bottun__container__box-tag">
    <i class="far fa-flag"></i><span class="item__bottun__container__box-tag-report">不適切な商品の報告</span>
    </a>
    </li>
    <a href="###">
    <span class="item__bottun__container__box-secure"><i class="material-icons">https</i>あんしん・あんぜんへの取り組み</span>
    </a>  
  </ul>
</div>
</section>

<section class="comment__container">
<div class="comment__container__box">
<p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
</div>
<input type="hidden">
<textarea type="text" class="comment__container__comment">
</textarea>
<button type="submit" class="comment__container__submit">
<span>コメントする</span>
</button>
</section>

<div class="page_nav__area">
  <ul class="page_nav__area__box">
  <li class="page_nav__area__box-prev"><a href="###"><i class="fas fa-angle-left"></i>前のページ</a></li>
  <li class="page_nav__area__box-next"><a href="###">次のページ<i class="fas fa-angle-right"></i></a></li>
  </ul>
  </div>
</div>

<section class="social__icon__area">
<div class="social__icon__area__container">
<div class="social__icon__area__container__icon"><a href="###"><div class="social__icon__area__container__icon-facebook"><i class="fab fa-facebook-square"></div></a></i></div>
<div class="social__icon__area__container__icon"><a href="###"><div class="social__icon__area__container__icon-twitter"><i class="fab fa-twitter"></div></a></i></div>
<div class="social__icon__area__container__icon"><a href="###"><div class="social__icon__area__container__icon-pinterest"><i class="fab fa-pinterest"></div></a></i></div>
</div>
</section>

<section class="related__item">
<h2 class="related__item-head">
<a href="###">はなさんのその他の出品</a>
<div class="items__container">

  <a href="###">
  <div class="items__container__box">
    <figure>
    <%= image_tag 'item04.jpg', class:'items__container__box-item_phot' %>
    </figure>
    <div class="items__container__box__item_body">
      <h3>ルイヴィトン ダミエ リビラ</h3>
      <div class="items__container__box__item_body__info">
        <div class="items__container__box__item_body__info-price">¥85,000</div>
        <div class="items__container__box__item_body__info-like"><i class="far fa-heart"></i><span>68</span></div>
      </div>
    </div>
  </div>
  </a>

  <a href="###">
  <div class="items__container__box">
    <figure>
    <%= image_tag 'item04.jpg', class:'items__container__box-item_phot' %>
    </figure>
    <div class="items__container__box__item_body">
      <h3>ルイヴィトン ダミエ リビラ</h3>
      <div class="items__container__box__item_body__info">
        <div class="items__container__box__item_body__info-price">¥85,000</div>
        <div class="items__container__box__item_body__info-like"><i class="far fa-heart"></i><span>68</span></div>
      </div>
    </div>
  </div>
  </a>

  <a href="###">
  <div class="items__container__box">
    <figure>
    <%= image_tag 'item04.jpg', class:'items__container__box-item_phot' %>
    </figure>
    <div class="items__container__box__item_body">
      <h3>ルイヴィトン ダミエ リビラ</h3>
      <div class="items__container__box__item_body__info">
        <div class="items__container__box__item_body__info-price">¥85,000</div>
        <div class="items__container__box__item_body__info-like"><i class="far fa-heart"></i><span>68</span></div>
      </div>
    </div>
  </div>
  </a>
  </section>